*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Zuume" ;
    src: url(./font/Zuume\ ExtraBold.ttf);
    font-style: normal;
    font-weight: normal;
}
:root{
    --cor-primaria: #FF4655ff;
    --cor-secundaria: #ffffff;
    --fonte-titulo: Zuume, sans-serif ;
    --fonte-texto: 'Poppins', sans-serif; 
}

body {
    background-color: #0F1923;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: var(--fonte-texto);
}

header{
    background-color: var(--cor-primaria);
    font-size: 1rem; 
    padding-bottom: 19.5px; 
    font-family: var(--fonte-texto);
}

.menu{
    display: flex;
}

.logo_riot{
    height: 6vh;
    margin-top: 4vh;
    margin-left: 3vw;
}

.barra{
    height: 7vh;
    width: 3px;
    margin-top: 4vh;
    margin-left: 3vw;
}

.valorant_icon{
    height: 6vh;
    margin-top: 4vh;
    margin-left: 3vw;
}

.abas{
    width: 60vw;
    margin-top: 5vh;
    margin-left: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main{
    background: no-repeat url(./img/background.png);
    background-size: 130vh;
    display: flex;
    justify-content: space-between;
    
}

.conteudo{
    display: grid;
    grid-template-columns: repeat(1,3);
    padding-left: 3vw;
    padding-top: 5vh;
    
    min-width: 390px;
    max-width: 390px;
}

.title{
    display: flex; 
    font-family: var(--fonte-titulo);
    flex-direction: column-reverse;
    

}

.killjoy_text{
    color: var(--cor-primaria);
    position: absolute;
    font-size: 10.5rem;
    z-index: 0;
    top: 18%;
}

.killjoy_subtext{
   color: var(--cor-secundaria);
   font-size: 5vh;
   place-self: end;
   z-index: 1; 
   
}
.bio{
    font-family: var(--fonte-titulo);
    color: var(--cor-secundaria);
}

.description{
    display: block;
    font-family: var(--fonte-texto);
    font-size: 0.8rem;
    color: var(--cor-secundaria);
}
.text1{

    margin-bottom: 20px;

}

.killjoy_container{
    margin-top: 27px;
    height: 511px;
    display: flex;
    justify-content: end;
    margin-right: 42px;
}

.bg2{
    height: 511px;
    z-index: -1;
    position: absolute;
}

.logo_valorant{
    height: 300px;
    transform: translate(-20%, 20%);
}

.killjoy_image{
    transform: translate(-10%, -10%);
}

.action{

    display: flex;
    place-self: center;
    min-width: 200px;
    min-height: 60px;
    background-color:  var(--cor-primaria) ;
    margin: 0;
    padding: 0;
}

.join_now{

    padding-left: 53px;
    padding-top: 18px;
    font-family: var(--fonte-titulo);
    font-size: 1.7rem;
    color: var(--cor-secundaria);
    

}


